---
import Carrousel from "../components/Carrousel";
import ContactBanner from "../components/ContactBanner.astro";
import ContactFormReact from "../components/ContactFormReact";
import Layout from "../layouts/Layout.astro";
import { loadTranslations } from "../utils/i18n";
import ServiceBanner from "../components/ServiceBanner.astro";
import logo from '@/assets/images/vivienda.png'

const url = new URL(Astro.request.url);
const lang = url.searchParams.get("lang") || "es";
const translations = await loadTranslations(lang);
const { property_management, seo } = translations;
const { tags } = seo;
const link = translations.footer.useful_links.links[0].link;
---

<Layout 
    title={tags.property_management} 
    description={translations.property_management.description} 
    lang={lang}
>
    <!-- Sección principal con el h1 -->
    <main class="flex-grow">
        <h1 class="sr-only">{translations.property_management.title}</h1>

        <!-- Sección del carrusel -->
        <section aria-labelledby="carrousel-section">
            <h2 id="carrousel-section" class="sr-only">Galería de imágenes de la administración de fincas</h2>
            <Carrousel client:load data={translations.property_management} lang={lang}/>
        </section>

        <section>
            <ServiceBanner data={property_management} image={logo} link={link}/>
        </section>

        <!-- Sección del banner de contacto -->
        <section class="bg-white dark:bg-gray-900" aria-labelledby="contact-banner-section">
            <h2 class="sr-only" id="contact-banner-section">Contáctanos</h2>
            <ContactBanner text={translations.contact.phrases[0]} />
        </section>

        <!-- Sección del formulario de contacto -->
        <section aria-labelledby="contact-form-section" class="my-4">
            <h2 class="sr-only" id="contact-form-section">Formulario de contacto</h2>
            <ContactFormReact client:load lang={translations.forms}/>
        </section>
    </main>
</Layout>
