---
import ContactBanner from "../components/ContactBanner.astro";
import ContactFormReact from "../components/ContactFormReact";
import Layout from "../layouts/Layout.astro";
import { loadTranslations } from "../utils/i18n";
const url = new URL(Astro.request.url);
const lang = url.searchParams.get("lang") || "es";

const translations = await loadTranslations(lang);
const { contact } = translations;
---

<Layout title={contact.title}>
    <div class="block text-center py-4 bg-gradient-to-tr from-brand-blueFinca to-brand-greenFinca">
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">{contact.buttons.contact_us}</h1>
    <p class="text-lg font-normal text-gray-900 lg:text-xl dark:text-gray-400">{contact.description}</p>
    </div>    
    <div class="bg-gradient-to-tr from-brand-blueFinca to-brand-greenFinca">
        <ContactFormReact client:load lang={translations.forms}/>
    </div>
    <ContactBanner text={contact.phrases[0]}/>
</Layout>