---
import ContactBanner from "../components/ContactBanner.astro";
import ContactFormReact from "../components/ContactFormReact";
import Layout from "../layouts/Layout.astro";
import { loadTranslations } from "../utils/i18n";
const url = new URL(Astro.request.url);
const lang = url.searchParams.get("lang") || "es";

const translations = await loadTranslations(lang);
const { contact, seo } = translations;
---

<Layout title={seo.tags.contact} description={contact.description}>
    <!-- Sección principal con el h1 -->
    <main>
        <h1 class="sr-only">{contact.title}</h1> <!-- Título principal de la página accesible para SEO y tecnología asistiva -->

        <!-- Sección de bienvenida con encabezado optimizado -->
        <section class="block text-center py-4 bg-gradient-to-tr from-brand-blueFinca to-brand-greenFinca">
            <h2 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">{contact.buttons.contact_us}</h2>
            <p class="text-lg font-normal text-gray-900 lg:text-xl dark:text-gray-400">{contact.description}</p>
        </section>    

        <!-- Formulario de contacto con etiquetas ARIA y accesibilidad -->
        <section class="block py-7">
            <h2 class="sr-only">Formulario de Contacto</h2> <!-- Título accesible para usuarios con lector de pantallas -->
            <ContactFormReact client:load lang={lang} data={translations.forms} title={false}/>
        </section>

        <!-- Sección de banner de contacto -->
        <section>
            <ContactBanner text={contact.phrases[0]}/>
        </section>
    </main>
</Layout>
