---
import Carrousel from '../components/Carrousel.jsx'
import ContactFormReact from '../components/ContactFormReact';
import ServicesInfo from '../components/ServicesInfo.astro';
import Layout from '../layouts/Layout.astro';
import ContactBanner from '../components/ContactBanner.astro';
import { loadTranslations } from '../utils/i18n';
import AboutUs from '../components/AboutUs.astro';
import ClientSay from '../components/ClientSay.astro';
import FAQComponent from '../components/FAQComponent.astro';
import Accordion from '../components/Accordion.jsx';

const params = Astro.url.searchParams;
const url = new URL(Astro.request.url);
const lang = url.searchParams.get('lang') || (typeof window !== 'undefined' ? localStorage.getItem('lang') : 'es');

const translation = await loadTranslations(lang);
const { seo } = translation;
---

<Layout title={seo.title} description={translation.index.description}>
  <div class="snap-y snap-mandatory">
    
    <!-- Sección principal con el h1 -->
    <main>
      <h1 class="sr-only">{seo.title}</h1> <!-- Título principal de la página accesible para SEO y tecnología asistiva -->
    
      <!-- Sección del carrusel con imágenes -->
      <section class="snap-start">
        <Carrousel data={translation.index} client:load lang={lang}/>
      </section>
    
      <!-- Sección de nuestros valores -->
      <section aria-labelledby="values-section">
        <h2 id="values-section" class="sr-only">Nuestros valores</h2>
        <AboutUs data={translation} />
      </section>
    
      <!-- Sección de nuestros servicios -->
      <section aria-labelledby="services-section">
        <h2 id="services-section" class="sr-only">Nuestros Servicios</h2>
        <ServicesInfo data={translation} />
      </section>
    
      <!-- Sección de testimonios para mejorar la confianza y SEO -->
      <section class="container mx-auto px-4 py-8" aria-labelledby="faq-section">
        <ClientSay lang={lang}/>
        <FAQComponent lang={lang}/>
      </section>
      <!-- Banner de contacto para facilitar la acción -->
      <ContactBanner text={translation.contact.phrases[0]}/>
    
      <!-- Sección del formulario de contacto -->
      <section class="my-4" aria-labelledby="contact-form-section">
        <h2 id="contact-form-section" class="sr-only">Formulario de contacto</h2>
        <div class="max-w-screen-xl mx-auto px-4">
          <div class="text-center mb-12">
              <span class="inline-block text-orange-500 font-semibold mb-2 tracking-wide">
                  {lang === "es" ? "CONTÁCTANOS" : lang === "en" ? "CONTACT US" : "KONTAKTIEREN SIE UNS"}
              </span>
              <h2 class="text-3xl font-extrabold leading-tight tracking-tight text-gray-800 sm:text-4xl">
                  {lang === "es" 
                    ? "¿Tienes alguna pregunta?" 
                    : lang === "en" 
                    ? "Do you have any questions?" 
                    : "Haben Sie Fragen?"}
              </h2>
              <div class="w-24 h-1 bg-orange-500 mx-auto mt-4 rounded-full"></div>
          </div>
          <div class="shadow-xl rounded-xl overflow-hidden">
              <h2 id="contact-form-section" class="sr-only">Formulario de contacto para consultas</h2>
              <ContactFormReact client:load lang={translation.forms}/>
          </div>
      </div>
      </section>
    </main>
  </div>
</Layout>
