---
import Carrousel from '../components/Carrousel.jsx'
import ContactFormReact from '../components/ContactFormReact';
import ServicesInfo from '../components/ServicesInfo.astro';
import Layout from '../layouts/Layout.astro';
import ContactBanner from '../components/ContactBanner.astro';

import { loadTranslations } from '../utils/i18n';
const params = Astro.url.searchParams;
const lang = params.get('lang')
if(!lang && typeof window !== 'undefined') {
	localStorage.getItem('lang') || 'es';
}

const translation = await loadTranslations(lang);
---

<Layout title={translation.title}>
	<div class="snap-y snap-mandatory">
		<div class="snap-start">
			<Carrousel data={translation.index} client:load lang={lang}/>
		</div>
		<section class="snap-start">
			<ServicesInfo />
		</section>
		<ContactBanner text={translation.contact.phrases[0]}/>
		<section class="my-4">
			<ContactFormReact client:load lang={translation.forms}/>
		</section>
	</div>
</Layout>