---
import Layout from "../layouts/Layout.astro";
import edificio from '../assets/images/edificio1.webp';
import ServicesInfo from "../components/ServicesInfo.astro";
import Carrousel from "../components/Carrousel";
import ContactBanner from "../components/ContactBanner.astro";
import ContactFormReact from "../components/ContactFormReact";
import { loadTranslations } from "../utils/i18n";
const url = new URL(Astro.request.url);
const lang = url.searchParams.get("lang") || "es";

const translations = await loadTranslations(lang);
---

<Layout title={translations.about_us.title}>
    

    <section class="bg-white">
        <Carrousel client:load data={translations.about_us} lang={lang}/>
    </section>
    <div class="relative">
        <ServicesInfo text={translations.contact.phrases[0]}/>
    </div>
    <div>
        <ContactBanner />
        <ContactFormReact lang={translations.forms}/>
    </div>
  
</Layout>