---
import Layout from "../layouts/Layout.astro";
import ServicesInfo from "../components/ServicesInfo.astro";
import Carrousel from "../components/Carrousel";
import ContactBanner from "../components/ContactBanner.astro";
import ContactFormReact from "../components/ContactFormReact";
import { loadTranslations } from "../utils/i18n";
import AboutUs from "../components/AboutUs.astro";

const url = new URL(Astro.request.url);
const lang = url.searchParams.get("lang") || "es";

const translations = await loadTranslations(lang);
---

<Layout 
    title={translations.about_us.title} 
    description={translations.about_us.description}
    lang={lang}
>

    <!-- Sección del carrusel -->
    <section aria-labelledby="about-us-carousel-section" class="bg-white">
        <h2 id="about-us-carousel-section" class="sr-only">Galería de imágenes de nosotros</h2>
        <Carrousel client:load data={translations.about_us} lang={lang}/>
    </section>

    <!-- Sección de información de servicios -->
    <section aria-labelledby="services-info-section" class="relative">
        <h2 id="services-info-section" class="sr-only">Nuestros servicios</h2>
        <AboutUs data={translations} />
    </section>
    <section>
        <ServicesInfo data={translations} />
        <ContactBanner text={translations.contact.phrases[0]}/>
    </section>

    <!-- Sección de contacto -->
    <section aria-labelledby="contact-section">
        <h2 id="contact-section" class="sr-only">Contáctanos</h2>
        <ContactFormReact lang={translations.forms}/>
    </section>

</Layout>
