---
import hands from '../../public/icons/darse-la-mano.png'
import safe from '../../public/icons/seguridad.png'
import pro from '../../public/icons/profesionalismo.png'
import vivienda from '../../public/icons/vivienda.png'
import holiday from '../../public/icons/holiday.png'
---

<section class="bg-slate-100">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Nuestros servicios</h2>
        </div>
        <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-2 md:gap-12 md:space-y-0">
            <div>
                <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-green-100 lg:h-12 lg:w-12">
               <img src={vivienda.src} alt="vivienda" class="w-7 h-7" />
                </div>
                <h3 class="mb-2 text-xl font-bold">Administración de fincas</h3>
                <p class="text-gray-500">Plan it, create it, launch it. Collaborate seamlessly with all  the organization and hit your marketing goals every month with our marketing plan.</p>
            </div>
            <div>
                <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-green-100 lg:h-12 lg:w-12 ">
                <img src={holiday.src} alt="holiday" class="w-8 h-7" />
                </div>
                <h3 class="mb-2 text-xl font-bold">Gestión de alquileres vacacionales</h3>
                <p class="text-gray-500">Protect your organization, devices and stay compliant with our structured workflows and custom permissions made for you.</p>
            </div>
         
        </div>
    </div>
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Que nos hace únicos en nuestros servicios</h2>
        </div>
        <div class="space-y-8 md:grid md:grid-cols-3 lg:grid-cols-3 md:gap-12 md:space-y-0">
            <div>
                <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-green-100 lg:h-12 lg:w-1">
                    <img src={hands.src} alt="hands" class="w-6 h-6" />
                </div>
                <h3 class="mb-2 text-xl font-bold dark:text-black">Confiabilidad</h3>
                <p class="text-gray-500">Plan it, create it, launch it. Collaborate seamlessly with all  the organization and hit your marketing goals every month with our marketing plan.</p>
            </div>
            <div>
                <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-green-100 lg:h-12 lg:w-12">
                    <img src={safe.src} alt="safe" class="w-6 h-6" />
                </div>
                <h3 class="mb-2 text-xl font-bold dark:text-black">Seguridad</h3>
                <p class="text-gray-500">Protect your organization, devices and stay compliant with our structured workflows and custom permissions made for you.</p>
            </div>
            <div>
                <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-green-100 lg:h-12 lg:w-12">
                <img src={pro.src} alt="pro" class="w-7 h-7" />
                </div>
                <h3 class="mb-2 text-xl font-bold">Profesionalidad</h3>
                <p class="text-gray-500">Auto-assign tasks, send Slack messages, and much more. Now power up with hundreds of new templates to help you get started.</p>
            </div>
        </div>
    </div>
  </section>