---
import { quotelessJson } from "astro:schema";
import Carrousel from "../../components/Carrousel";
import ContactBanner from "../../components/ContactBanner.astro";
import ContactFormReact from "../../components/ContactFormReact";
import Layout from "../../layouts/Layout.astro";
import { loadTranslations } from "../../utils/i18n";
import Title from "../../components/about_us/Title.astro";

const lang = Astro.params.lang
const translations = await loadTranslations(lang);
const { quotes, seo, contact, forms } = translations;
---

<Layout 
    title={seo.tags.quotes} 
    description={quotes.description} 
    lang={lang}
>
    <main>
        <!-- Título principal de la página accesible para SEO y tecnologías asistivas -->
        <h1 class="sr-only">{quotes.title}</h1>

        <!-- Sección del carrusel de citas -->
        <section aria-labelledby="quotes-carousel-section" class="bg-white">
            <h2 id="quotes-carousel-section" class="sr-only">Citas destacadas</h2>
            <Carrousel client:load data={quotes} lang={lang}/>
        </section>
        <section aria-labelledby="contact-banner-section" class="bg-gray-100 py-12">
            <h2 id="contact-banner-section" class="sr-only">Contáctanos para más información</h2>
            <ContactBanner text={contact.phrases[0]} />
        </section>

        <!-- Sección de información adicional y contacto -->
        <section class="py-12">
            <div class="max-w-screen-xl mx-auto px-4 text-center">
                <Title title={quotes.description} description={quotes.text}/>
            </div>
        </section>

        <!-- Sección del banner de contacto -->

        <!-- Sección del formulario de contacto -->
        <section aria-labelledby="contact-form-section" class="py-16 animate-fade-in">
            <div class="max-w-screen-xl mx-auto px-4">
                <div class="overflow-hidden">
                    <h2 id="contact-form-section" class="sr-only">Formulario de contacto para consultas</h2>
                    <ContactFormReact client:load lang={lang} data={translations.forms} title={true}/>
                </div>
            </div>
        </section>
    </main>
</Layout>
